@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body, 
#__nuxt,
#__layout {
  width: 100%;
  height: 100%;
  font-weight: 300;
  font-size: 14px;
  @layer utilities {
    @apply bg-black;
  }
}

// .container {
//   max-width: 1500px;
// }